<html>

<head>

		<title>The Quarry | Docc</title>

		<link rel="stylesheet" type="text/css" href="../static/home.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body>

		<div id="side">

			<div id="sidehead1">
				<div class="sidehead1text">
					Docc
				</div>
			</div>
			
			<div id="nav">
				
				<div class="tab selectedtab" id="tab1">
					<div class="icondiv">
						<i class="material-icons" style="font-size:26px">add_box</i>
					</div>
					<div class="navtext">
						Create New PPT
					</div>
				</div>
				<div class="tab" id="tab2">
					<div class="icondiv">
						<i class="material-icons" style="font-size:26px">list</i>
					</div>
					<div class="navtext">
						All PPTs
					</div>
				</div>
			</div>
			<div class="sidebottom_container">
				<div class="sidebottom">
					<a href="#" class="sidebottom_link" >Logout</a>
					<a href="#" class="sidebottom_link">FAQ</a>
					<a href="#" class="sidebottom_link">Support</a>
				</div>
			</div>
		</div>

		<div id="center">
			<div id="centerhead">
				<div class="centerheadtext">
					The Quarry
				</div>
				<div class="divider4">
				</div>
				<div class="centerheadtext2">
					New PPT
				</div>
				<div id="searchholder">
					<input type="text" placeholder="Search for a PPT or Client" id="search">
				</div>
			</div>

			<div id="centercontent">

				<form id="contenttab1" class="contenttab">
					
					<div class="newppt_header">
						<div class="newppt_header_text">
							List of Sections
						</div>
					</div>
					<div class="newppt_selected_header">
						<div class="newppt_selected_header_text">
							Selected (5)
						</div>
					</div>

					<div class="newppt_selected_header" id="allstones_header">
						<div class="newppt_selected_header_text">
							All Stones (200)
						</div>
					</div>
					<div class="templates">
						<div class="newppt_selected_stone unselected sectiontemplate" >
							<div class="newppt_selected_stone_slides_mast">
								<div class="newppt_selected_stone_text">
									Section Title
								</div>
								<div class="newppt_selected_stone_icon pointer stone_expander">
									<i class="material-icons" style="font-size:26px">expand_more</i>
								</div>
								<div class="newppt_selected_stone_check stone_selector" >
									<input type="checkbox" class="stone_selector_input" >
								</div>
							</div>
							<div class="newppt_selected_stone_slides_container">
								<div class="newppt_selected_stone_slides_header">
									Select Slides
								</div>
							</div>
						</div>

						<div class="newppt_selected_stone_slide slidetemplate">
							<div class="newppt_selected_stone_slide_head">
								<div class="newppt_selected_stone_slide_check">
									<input class="slide_selector_input" type="checkbox" >
								</div>
								<div class="newppt_selected_stone_slide_name">
									Details
								</div>
								<div class="newppt_selected_stone_slide_expand pointer">
									<i class="material-icons" style="font-size:20px">expand_more</i>
								</div>
							</div>
							<div class="newppt_selected_stone_slide_body">
							</div>
						</div>

						<div class="newppt_selected_stone_slide_text slidetexttemplate">
							<div class="newppt_selected_stone_slide_text_check">
								<input type="checkbox" class="text_selector_input" >
							</div>
							<div class="newppt_selected_stone_slide_text_key">
								Name :
							</div>
							&nbsp;
							<div class="newppt_selected_stone_slide_text_value">
								Stone 1
							</div>
							<div class="newppt_selected_stone_slide_text_edit pointer">
								<i class="material-icons" style="font-size:13px">mode_edit</i>
							</div>
							
						</div>
					</div>

					 
					<!-- <div class="newppt_selected_stone unselected" id="s1u">
						<div class="newppt_selected_stone_slides_mast">
							<div class="newppt_selected_stone_text">
								Stone 1
							</div>
							<div class="newppt_selected_stone_icon pointer stone_expander">
								<i class="material-icons" style="font-size:26px">expand_more</i>
							</div>
							<div class="newppt_selected_stone_check pointer stone_selector" >
								<input type="checkbox" name="slides" value="details" class="stone_selector_input" id="s1">
							</div>
						</div>
						<div class="newppt_selected_stone_slides_container">
							<div class="newppt_selected_stone_slides_header">
								Select Slides
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="details">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Details
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
										
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="application">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Application Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="bookmatch">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Book Match Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="newppt_selected_stone unselected" id="s2u">
						<div class="newppt_selected_stone_slides_mast">
							<div class="newppt_selected_stone_text">
								Stone 2
							</div>
							<div class="newppt_selected_stone_icon pointer stone_expander">
								<i class="material-icons" style="font-size:26px">expand_more</i>
							</div>
							<div class="newppt_selected_stone_check pointer stone_selector" >
								<input type="checkbox" name="slides" value="details" class="stone_selector_input" id="s2">
							</div>
						</div>
						<div class="newppt_selected_stone_slides_container">
							<div class="newppt_selected_stone_slides_header">
								Select Slides
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="details">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Details
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
										
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="application">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Application Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="bookmatch">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Book Match Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="newppt_selected_stone unselected" id="s3u">
						<div class="newppt_selected_stone_slides_mast">
							<div class="newppt_selected_stone_text">
								Stone 3
							</div>
							<div class="newppt_selected_stone_icon pointer stone_expander">
								<i class="material-icons" style="font-size:26px">expand_more</i>
							</div>
							<div class="newppt_selected_stone_check pointer stone_selector" >
								<input type="checkbox" name="slides" value="details" class="stone_selector_input" id="s3">
							</div>
						</div>
						<div class="newppt_selected_stone_slides_container">
							<div class="newppt_selected_stone_slides_header">
								Select Slides
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="details">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Details
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
										
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="application">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Application Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="bookmatch">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Book Match Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>  -->


				</form>

				<div class="newppt_button_container">
					<div class="newppt_btn">
						Save as Template
					</div>
					<div class="newppt_btn" id="createPPT">
						Download as PPT
					</div>
					<div class="newppt_btn">
						Download as PDF
					</div>
				</div>

			</div>

		</div>

		<div class="infomodal_container">
			<div class="infomodal">
				<div class="infomodal_content">
					
				</div>
				<div class="closeinfomodal">
					Close
				</div>
			</div>
			
		</div>

		<script type="text/javascript">

			$(".infomodal_container").hide()

			$(".closeinfomodal").click(function(){
				$(".infomodal_container").hide()				
			})

			$.ajax({
					url: '/blueprint',
					type: 'post',
					dataType: 'json',
					success: function(data) {
							console.log(data)
							blueprintSetup(data)							
						}
			});

			function blueprintSetup(data){
				var count = 0
				for (var prop in data) {
					var sec = $(".sectiontemplate").clone()
					sec.removeClass("sectiontemplate")
					
					if (Object.prototype.hasOwnProperty.call(data, prop)) {
						sec.find(".newppt_selected_stone_text").text(prop)
						count++
						sec.attr("id","sec"+count.toString()+"u")

						sec.find(".stone_selector_input")
							.attr("name","A_"+prop)

						sec.find(".stone_selector_input")
							.attr("id","sec"+count.toString())

						for (var i = 0; i < data[prop].length; i++) {

						
							var slide = $(".slidetemplate").clone()
							slide.removeClass("slidetemplate")

							slide.find(".slide_selector_input")
								.attr("name","B_"+prop+"_"+data[prop][i].type)



							slide.find(".slide_selector_input")
								.attr("value",i.toString())

							slide.find(".newppt_selected_stone_slide_name")
								.text(data[prop][i].type)


							for (var j = 0; j < data[prop][i].elements.length; j++) {

								var text = $(".slidetexttemplate").clone()
								text.removeClass("slidetexttemplate")

								text.find(".newppt_selected_stone_slide_text_key")
									.text(data[prop][i].elements[j].key + " :")

								text.find(".newppt_selected_stone_slide_text_value")
									.text(data[prop][i].elements[j].value)

								text.find(".text_selector_input")
									.attr("name","C_"+prop+"_"+data[prop][i].type+"_"+i.toString()+"_"+data[prop][i].elements[j].key)

								text.find(".text_selector_input")
									.attr("value",data[prop][i].elements[j].value)


								slide.find(".newppt_selected_stone_slide_body")
								.append(text)
									
							}
							

							sec.find(".newppt_selected_stone_slides_container")
								.append(slide)


						}
					}

					$("#contenttab1").append(sec)
				}
													
				selectionSetup()
				createPPT_button_handler()
			}

			function selectionSetup(){
				$(".newppt_selected_stone_icon").parent().next().hide()
				$(".newppt_selected_stone_slide_expand").parent().next().hide()

				$(".stone_expander").hide()

				$(".stone_selector_input").click(function(){

					var oldid = $(this).attr("id")
					var id = $(this).attr("id")+"u"
					var newid =  $(this).attr("id")+"s"

					if($(this).is(":checked")) 
					{

						var element = $("#" +id).clone()
						element.removeAttr("id")
						element.removeClass("unselected")
						element.attr("id",newid)
						element
							.children().eq(0)
							.children(".stone_expander").eq(0)
							.show()
						
						element
							.children().eq(0)
							.children(".stone_expander").eq(0)
							.attr("id",oldid+"_expander")

						element
							.children().eq(0)
							.children(".stone_expander").eq(0)
							.removeClass(".stone_expander")
							
						element
							.children().eq(0)
							.children(".stone_selector").eq(0)
							.remove()

						element.find(".newppt_selected_stone_slide_expand")
							.addClass(oldid+"_slide_expander")

						element.insertBefore("#allstones_header")

						$("#"+oldid+"_expander").click(function(){
							$(this).parent().next().toggle()
						})

						$("."+oldid+"_slide_expander").click(function(){
							$(this).parent().next().toggle()
						})
					}
					else{
						$("#"+newid).remove()	
					}
					
					
				})
			}

			function createPPT_button_handler(){


				$("#createPPT").click(function(){
					$(".infomodal_container").show()
					$(".infomodal_content").html("\
						<div class='loader'></div>\
						<br>\
						Creating PPT...")
					// var form_data = new FormData($('form#contenttab1')[0]);
					$.ajax({
						url: '/selectedstuff',
						type: 'post',
						dataType: 'json',
						data: $('form#contenttab1').serialize(),
						success: function(data) {
								// console.log("Hi")
								$(".infomodal_container").show()
								$(".infomodal_content").html("\
									PPT Created!\
									<br>\
									<a target='_blank' href='/getfile'>Download</a>")
							}
					});					
				})
			}

		</script>

	</body>

</html>





