<html>

<head>

		<title>The Quarry | Docc</title>

		<link rel="stylesheet" type="text/css" href="../static/home.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body>

		<div id="side">

			<div id="sidehead1">
				<div class="sidehead1text">
					Docc
				</div>
			</div>
			
			<div id="nav">
				
				<div class="tab selectedtab" id="tab1">
					<div class="icondiv">
						<i class="material-icons" style="font-size:26px">add_box</i>
					</div>
					<div class="navtext">
						Create New PPT
					</div>
				</div>
				<div class="tab" id="tab2">
					<div class="icondiv">
						<i class="material-icons" style="font-size:26px">list</i>
					</div>
					<div class="navtext">
						All PPTs
					</div>
				</div>
			</div>
			<div class="sidebottom_container">
				<div class="sidebottom">
					<a href="#" class="sidebottom_link" >Logout</a>
					<a href="#" class="sidebottom_link">FAQ</a>
					<a href="#" class="sidebottom_link">Support</a>
				</div>
			</div>
		</div>

		<div id="center">
			<div id="centerhead">
				<div class="centerheadtext">
					The Quarry
				</div>
				<div class="divider4">
				</div>
				<div class="centerheadtext2">
					New PPT
				</div>
				<div id="searchholder">
					<input type="text" placeholder="Search for a PPT or Client" id="search">
				</div>
			</div>

			<div id="centercontent">

				<form id="contenttab1" class="contenttab">
					<input type="hidden" id="slide_order" name="slide_order" value="" />
					<div class="newppt_header">
						<div class="newppt_header_text">
							List of Sections
						</div>
					</div>
					
					<div class="newppt_selected_header" id="selected_start">
						<div class="newppt_selected_header_text">
							Selected (<div class="num_selected">0</div>)
						</div>
					</div>

					

					<div class="newppt_selected_header" id="allstones_header">
						<div class="newppt_selected_header_text">
							Availabe Stones (<div class="num_sections"></div>)
						</div>

						<div class="add_stone_container">
							<div class="add_stone_button">Add Stone</div>
						</div>

						<div class="section_search_bar_container">
							<input type="text" name="section_search_bar" 
								id="section_search_bar" placeholder="Search Stone">
						</div>
					</div>
					
					<div class="newppt_selected_header" id="meta_slides_header">
						<div class="newppt_selected_header_text">
							Meta Slides
						</div>
						<div class="add_stone_container">
							<div class="add_meta_button">Add Divider</div>
						</div>				
					</div>

					<div class="templates">
						<div class="newppt_selected_stone unselected sectiontemplate" >
							<div class="newppt_selected_stone_slides_mast">
								<div class="newppt_selected_stone_move stone_mover" >
									<i class="material-icons moveup" style="font-size:13px">arrow_upward</i>
									<i class="material-icons movedown" style="font-size:13px">arrow_downward</i>
								</div>
								<div class="newppt_selected_stone_text">
									Section Title
								</div>
								<div class="newppt_selected_stone_icon pointer stone_expander">
									<i class="material-icons" style="font-size:26px">expand_more</i>
								</div>
								<div class="newppt_selected_stone_check stone_selector" >
									<input type="checkbox" class="stone_selector_input" >
								</div>
							</div>
							<div class="newppt_selected_stone_slides_container">
								<div class="newppt_selected_stone_slides_header">
									Select Slides
								</div>
							</div>
						</div>

						<div class="newppt_selected_stone_slide slidetemplate">
							<div class="newppt_selected_stone_slide_head">
								<div class="newppt_selected_stone_slide_check">
									<input class="slide_selector_input" type="checkbox">
								</div>
								<div class="newppt_selected_stone_slide_name">
									Details
								</div>
								<div class="newppt_selected_stone_slide_expand pointer">
									<i class="material-icons" style="font-size:20px">expand_more</i>
								</div>
							</div>
							<div class="newppt_selected_stone_slide_body">
							</div>
						</div>

						<div class="newppt_selected_stone_slide_text slidetexttemplate">
							<div class="newppt_selected_stone_slide_text_check">
								<input type="checkbox" class="text_selector_input">
							</div>
							<div class="newppt_selected_stone_slide_text_key">
								Name :
							</div>
							&nbsp;
							<div class="newppt_selected_stone_slide_text_value">
								Stone 1
							</div>
							<div class="newppt_selected_stone_slide_text_edit pointer">
								<i class="material-icons" style="font-size:13px">mode_edit</i>
							</div>
							
						</div>
					</div>

					 
<!-- 					<div class="newppt_selected_stone unselected" id="s1u">
						<div class="newppt_selected_stone_slides_mast">
							<div class="newppt_selected_stone_move stone_mover" >
								<i class="material-icons" style="font-size:13px">arrow_upward</i>
								<i class="material-icons" style="font-size:13px">arrow_downward</i>
							</div>
							<div class="newppt_selected_stone_text">
								Stone 1
							</div>
							
							<div class="newppt_selected_stone_icon pointer stone_expander">
								<i class="material-icons" style="font-size:26px">expand_more</i>
							</div>
							<div class="newppt_selected_stone_check pointer stone_selector" >
								<input type="checkbox" name="slides" value="details" class="stone_selector_input" id="s1">
							</div>
						</div>
						<div class="newppt_selected_stone_slides_container">
							<div class="newppt_selected_stone_slides_header">
								Select Slides
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="details">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Details
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
										
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="application">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Application Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="bookmatch">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Book Match Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="newppt_selected_stone unselected" id="s2u">
						<div class="newppt_selected_stone_slides_mast">
							<div class="newppt_selected_stone_text">
								Stone 2
							</div>
							<div class="newppt_selected_stone_icon pointer stone_expander">
								<i class="material-icons" style="font-size:26px">expand_more</i>
							</div>
							<div class="newppt_selected_stone_check pointer stone_selector" >
								<input type="checkbox" name="slides" value="details" class="stone_selector_input" id="s2">
							</div>
						</div>
						<div class="newppt_selected_stone_slides_container">
							<div class="newppt_selected_stone_slides_header">
								Select Slides
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="details">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Details
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
										
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="application">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Application Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="bookmatch">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Book Match Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<div class="newppt_selected_stone unselected" id="s3u">
						<div class="newppt_selected_stone_slides_mast">
							<div class="newppt_selected_stone_text">
								Stone 3
							</div>
							<div class="newppt_selected_stone_icon pointer stone_expander">
								<i class="material-icons" style="font-size:26px">expand_more</i>
							</div>
							<div class="newppt_selected_stone_check pointer stone_selector" >
								<input type="checkbox" name="slides" value="details" class="stone_selector_input" id="s3">
							</div>
						</div>
						<div class="newppt_selected_stone_slides_container">
							<div class="newppt_selected_stone_slides_header">
								Select Slides
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="details">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Details
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
										
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="application">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Application Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
							<div class="newppt_selected_stone_slide">
								<div class="newppt_selected_stone_slide_head">
									<div class="newppt_selected_stone_slide_check">
										<input type="checkbox" name="slides" value="bookmatch">
									</div>
									<div class="newppt_selected_stone_slide_name">
										Book Match Image
									</div>
									<div class="newppt_selected_stone_slide_expand pointer">
										<i class="material-icons" style="font-size:20px">expand_more</i>
									</div>
									
								</div>
								<div class="newppt_selected_stone_slide_body">
									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Name : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Stone 1
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Description : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											This is the best stone in the market.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs. 100 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Discounted Price : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Rs 50 per sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Quantity : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											3000 sq.ft.
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Size : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											300cm x 194cm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Processing : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											Italy
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>

									<div class="newppt_selected_stone_slide_text">
										<div class="newppt_selected_stone_slide_text_check">
											<input type="checkbox" name="slides" value="name">
										</div>
										<div class="newppt_selected_stone_slide_text_key">
											Thickness : &nbsp;
										</div>
										<div class="newppt_selected_stone_slide_text_value">
											20mm
										</div>
										<div class="newppt_selected_stone_slide_text_edit pointer">
											<i class="material-icons" style="font-size:13px">mode_edit</i>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div> 
 -->

				</form>

				<div class="newppt_button_container">
					<div class="newppt_btn">
						Save as Template
					</div>
					<div class="newppt_btn" id="createPPT">
						Download as PPT
					</div>
					<div class="newppt_btn">
						Download as PDF
					</div>
				</div>


			</div>

		</div>

		<div class="infomodal_container">
			<div class="infomodal">
				<div class="infomodal_content">
					
				</div>
				<div class="closeinfomodal">
					Close
				</div>
			</div>
		</div>

		<div class="editmodal_container">
			<div class="editmodal">
				Edit Current Value
				<textarea class="editmodal_input" rows="5" cols="50"></textarea>
				<div class="add_meta_modal_buttonspace">
					<div class="saveeditmodal">
						Save
					</div>
				</div>
			</div>
		</div>

		<div class="add_meta_modal_container">
			<div class="add_meta_modal">
				Enter Meta Slide Text
				<textarea class="add_meta_modal_input" rows="5" cols="50"></textarea>

				<div class="add_meta_modal_buttonspace">
					<div class="create_meta_slide">
						Create Meta Slide
					</div>
					<div class="cancel_meta_slide">
						Cancel 
					</div>
				</div>
				
			</div>
		</div>


		<div class="add_stone_modal_container">
			<div class="add_stone_modal">
				<form class="add_stone_form" enctype="multipart/form-data" >
					<div class="add_stone_modal_head">
						Add Slide Form
					</div>
					<div class="add_stone_input_container">Stone name: <input class="add_stone_input stone_name" type="text" name="stone_name" placeholder="required"></div>
					<div class="add_stone_input_container">Stone Description: <input class="add_stone_input stone_description" type="text" name="stone_description" placeholder="required, min 50 characters"></div>
					<!-- <div class="add_stone_input_container">Stone Image Type: <input class="add_stone_input" type="text" name="stone_imagetype"></div> -->
					<div class="add_stone_input_container">Stone Price: <input class="add_stone_input" type="text" name="stone_price"></div>
					<div class="add_stone_input_container">Discount: <input class="add_stone_input" type="text" name="stone_discount"></div>
					<div class="add_stone_input_container">Discounted Price: <input class="add_stone_input" type="text" name="stone_discounted_price"></div>
					<div class="add_stone_input_container">Stone Size: <input class="add_stone_input" type="text" name="stone_size"></div>
					<div class="add_stone_input_container">Stone Quantity: <input class="add_stone_input" type="text" name="stone_quantity"></div>
					<div class="add_stone_input_container">Stone Processing: <input class="add_stone_input" type="text" name="stone_processing"></div>
					<div class="add_stone_input_container">Stone Thickness: <input class="add_stone_input" type="text" name="stone_thickness"></div>

					<div class="add_stone_input_container">Select Slide Image* <input class="stone_image" type="file" name="stone_image"></div>

					<div class="add_stone_input_container">
						<div class="add_stone_submit">Create Slide</div>
					</div>
				</form>
				<div><i class="add_stone_close material-icons" style="font-size:36px">clear</i></div>
			</div>
		</div>

		<script type="text/javascript">

			$(".add_stone_modal_container").hide()
			$(".infomodal_container").hide()

			$(".closeinfomodal").click(function(){
				$(".infomodal_container").hide()				
			})

			$(".add_stone_close").click(function(){
				$(".add_stone_modal_container").hide()
			})

			$(".add_stone_submit").click(function(){
				var stone_name = $(".stone_name").val()
				var stone_description = $(".stone_description").val()
				var stone_image = $(".stone_image").val()

				if (stone_description.length > 0 &&  stone_description.length < 50){

					alert("Stone description must be atleast 50 characters.")
					return false
				}

				if (stone_name.length == 0){
					alert("Stone name is required.")
					return false
				}

				if (stone_image == ''){
					alert("Stone image is required.")
					return false	
				}

				var form_data = new FormData($('form.add_stone_form')[0]);
				$.ajax({
					url: '/createslide',
					type: 'post',
					dataType: 'json',
					data: form_data,
					contentType: false,
					cache: false,
		            processData: false,
					success: function(data) {
							// console.log(data)
							// alert("Tele-Case has been Sent.");
						    location.reload()
						}
				});
			})

			$(".add_stone_button").click(function(){
				$(".add_stone_modal_container").show()	
			})

			$(".add_meta_modal_container").hide()

			$(".add_meta_button").click(function(){
				$(".add_meta_modal_container").show()	
			})


			$(".editmodal_container").hide()

			$(".saveeditmodal").click(function(){
				var value = $(".editmodal_input").val()
				$(".editing")
					.find(".text_selector_input")
					.attr("value",value)
				$(".editing")
					.find(".newppt_selected_stone_slide_text_value")
					.text(value)
				$(".editing").removeClass("editing")
				$(".editmodal_container").hide()
			})

			$(".cancel_meta_slide").click(function(){
				$(".add_meta_modal_input").val("")
				$(".add_meta_modal_container").hide()

			})

			$(".create_meta_slide").click(function(){
				$.ajax({
					url: '/create_meta_slide',
					type: 'post',
					data: {"Title":$(".add_meta_modal_input").val()},
					dataType: 'json',
					success: function(data) {
							// console.log(data)
						    location.reload()
						}
				});				
			})


			$.ajax({
					url: '/blueprint',
					type: 'post',
					dataType: 'json',
					success: function(data) {
							console.log(data)
							$(".num_sections")
								.text(Object.keys(data).length)
							blueprintSetup(data)					
						}
			});

			function blueprintSetup(data){
				var count = 0
				for (var prop in data) {
					var sec = $(".sectiontemplate").clone()
					sec.removeClass("sectiontemplate")
					
					if (Object.prototype.hasOwnProperty.call(data, prop)) {
						sec.find(".newppt_selected_stone_text").text(prop)
						count++
						sec.attr("id","sec"+count.toString()+"u")

						// sec.find(".stone_selector_input")
						// 	.attr("name","A_"+prop)
						// sec.find(".stone_selector_input")
						// 	.attr("value",data[prop].id)

						sec.find(".stone_selector_input")
							.attr("id","sec"+count.toString())

						for (var i = 0; i < data[prop].length; i++) {

						
							var slide = $(".slidetemplate").clone()
							slide.removeClass("slidetemplate")

							slide.find(".slide_selector_input")
								.attr("name","A_"+prop+"_"+data[prop][i].id)

							slide.find(".slide_selector_input")
								.attr("value",data[prop][i].id)


							slide.find(".newppt_selected_stone_slide_name")
								.text(data[prop][i].type)


							for (var j = 0; j < data[prop][i].elements.length; j++) {

								var text = $(".slidetexttemplate").clone()
								text.removeClass("slidetexttemplate")

								text.find(".newppt_selected_stone_slide_text_key")
									.text(data[prop][i].elements[j].key + " :")

								text.find(".newppt_selected_stone_slide_text_value")
									.text(data[prop][i].elements[j].value)

								text.find(".text_selector_input")
									.attr("name","B_"+data[prop][i].id+"_"+data[prop][i].elements[j].pid+"_"+data[prop][i].elements[j].key)

								text.find(".text_selector_input")
									.attr("value",data[prop][i].elements[j].value)

								slide.find(".newppt_selected_stone_slide_body")
								.append(text)
									
							}

							sec.find(".newppt_selected_stone_slides_container")
								.append(slide)


						}
					}

					if (data[prop][0].type == "Single Slide") {
						
						$("#meta_slides_header").after(sec)
					}
					else{
						$("#allstones_header").after(sec)					
					}
				}
													
				selectionSetup()
				createPPT_button_handler()
				search_handler()
			}

			function search_handler(){

				$("#section_search_bar").on("keyup", function() {
				    var value = $(this).val().toLowerCase(); 
					var search_space = $(".unselected").find(".newppt_selected_stone_text")
				    search_space.filter(function() {
				      $(this).parent().parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
				    });
				  });
			}

			function selectionSetup(){
				$(".newppt_selected_stone_icon")
					.parent()
					.parent()
					.find(".newppt_selected_stone_slides_container")
					.hide()

				$(".newppt_selected_stone_slide_expand")
					.parent()
					.parent()
					.find(".newppt_selected_stone_slide_body")
					.hide()

				$(".stone_expander").hide()
				$(".stone_mover").hide()
				

				$(".stone_selector_input").click(function(){

					var oldid = $(this).attr("id")
					var id = $(this).attr("id")+"u"
					var newid =  $(this).attr("id")+"s"

					if($(this).is(":checked")) 
					{

						var element = $("#" +id).clone()
						element.removeAttr("id")
						element.removeClass("unselected")
						element.attr("id",newid)

						element
							.find(".slide_selector_input")
							.addClass("slide_selector_input_selected")

						element
							.find(".stone_expander")
							.show()
						
						element
							.find(".stone_expander")
							.attr("id",oldid+"_expander")

						element
							.find(".stone_expander")
							.removeClass(".stone_expander")
						
						element
							.find(".stone_mover")
							.show()
						
						element
							.find(".stone_mover")
							.find(".moveup")
							.attr("id",oldid+"_moveup")

						element
							.find(".stone_mover")
							.find(".movedown")
							.attr("id",oldid+"_movedown")

						element
							.find(".stone_mover")
							.removeClass(".stone_mover")

						element
							.find(".stone_selector")
							.remove()

						element.find(".newppt_selected_stone_slide_expand")
							.addClass(oldid+"_slide_expander")

						element.find(".newppt_selected_stone_slide_text_edit")
							.addClass(oldid+"_edittext")

						element.insertBefore("#allstones_header")

						var selected_count = Number($(".num_selected").text())
						$(".num_selected").text((selected_count+1).toString())

						// selected_start
						// allstones_header
						$("#"+oldid+"_moveup").click(function(){
							if ($(this).parent().parent().parent().prev().attr("id") == "selected_start")
							{

							}
							else{
								previouselement = $(this).parent().parent().parent().prev()
								$(this).parent().parent().parent().insertBefore(previouselement)	
							}
							
						})

						$("#"+oldid+"_movedown").click(function(){
							if ($(this).parent().parent().parent().next().attr("id") == "allstones_header")
							{

							}
							else{
								nextelement = $(this).parent().parent().parent().next()
								$(this).parent().parent().parent().insertAfter(nextelement)	
							}
							
						})

						$("#"+oldid+"_expander").click(function(){
							$(this).parent().next().toggle()
						})

						$("."+oldid+"_slide_expander").click(function(){
							$(this).parent().next().toggle()
						})

						$("."+oldid+"_edittext").click(function(){
							$(this).parent()
								.addClass("editing")

							var value = $(this).prev().text()
							$(".editmodal_input").val(value)
							$(".editmodal_container").show()
						})
					}
					else{
						$("#"+newid).remove()	
						var selected_count = Number($(".num_selected").text())
						$(".num_selected").text((selected_count-1).toString())
					}
					
					
				})
			}

			// selectionSetup()

			function createPPT_button_handler(){


				$("#createPPT").click(function(){

					
					ordered_slides = $(".slide_selector_input_selected")
					order_string = ""
					for (var i = 0; i < ordered_slides.length; i++) {
						if (i == 0){
							order_string = order_string + ordered_slides.eq(i).attr("value")
						}
						else{
							order_string = order_string + "_" + ordered_slides.eq(i).attr("value")
						}
						
					}

					$("#slide_order").attr("value",order_string)

					$(".infomodal_container").show()
					$(".infomodal_content").html("\
						<div class='loader'></div>\
						<br>\
						Creating PPT...")
					// var form_data = new FormData($('form#contenttab1')[0]);
					$.ajax({
						url: '/selectedstuff',
						type: 'post',
						dataType: 'json',
						data: $('form#contenttab1').serialize(),
						success: function(data) {
								// console.log("Hi")
								$(".infomodal_container").show()
								$(".infomodal_content").html("\
									PPT Created!\
									<br>\
									<a target='_blank' href='/getfile'>Download</a>")
							}
					});					
				})
			}

		</script>

	</body>

</html>





